﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<!DOCTYPE html>

<div id="page-content" class="single-page">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <ul class="breadcrumb">
                    <li><a href="index.html">Home</a></li>
                    <li><a href="account.html">Account</a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6" style="margin-bottom: 30px;">
                <div class="heading"><h2>Login</h2></div>
                <form name="form1" id="ff1" method="post" action="login.php">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Username :" name="username" id="username" required>
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" placeholder="Password :" name="email" id="email" required>
                    </div>
                    <button type="submit" class="btn btn-4" name="login" id="login">Login</button>
                    <a href="#">Forgot Your Password ?</a>
                </form>
            </div>
            <div class="col-md-6">
                <div class="heading"><h2>New User ? Create An Account.</h2></div>
                <form name="form2" id="ff2" method="post" action="register.php">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="First Name :" name="firstname" id="firstname" required>
                    </div>
                    <div class="form-group">
                        <input type="email" class="form-control" placeholder="Last Name :" name="lastname" id="lastname" required>
                    </div>
                    <div class="form-group">
                        <input type="tel" class="form-control" placeholder="Email Address :" name="email" id="email" required>
                    </div>
                    <div class="form-group">
                        <input type="tel" class="form-control" placeholder="Mobile :" name="phone" id="phone" required>
                    </div>
                    <div class="form-group">
                        <input name="gender" id="gender" type="radio"> Male <input name="gender" id="gender" type="radio"> Female
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" placeholder="Password :" name="password" id="password" required>
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" placeholder="Retype Password :" name="repassword" id="repassword" required>
                    </div>
                    <div class="form-group">
                        <input name="agree" id="agree" type="checkbox"> I agree to your website.
                    </div>
                    <button type="submit" class="btn btn-4">Create</button>
                </form>
            </div>
        </div>
    </div>
</div> 
