﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<div id="page-content" class="home-page">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <!-- Carousel -->
                <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                    <!-- Indicators -->
                    <ol class="carousel-indicators hidden-xs">
                        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                    </ol>
                    <!-- Wrapper for slides -->
                    <div class="carousel-inner">
                        <div class="item active">
                            <img src="../Content/images/anaresim1.jpg" alt="First slide">
                            <!-- Static Header -->
                            <div class="header-text hidden-xs">
                                <div class="col-md-12 text-center">
                                </div>
                            </div><!-- /header-text -->
                        </div>
                        <div class="item">
                            <img src="../Content/images/anaresim2.jpg" alt="Second slide">
                            <!-- Static Header -->
                            <div class="header-text hidden-xs">
                                <div class="col-md-12 text-center">
                                </div>
                            </div><!-- /header-text -->
                        </div>
                        <div class="item">
                            <img src="../Content/images/anaresim4.jpg" alt="Third slide">
                            <!-- Static Header -->
                            <div class="header-text hidden-xs">
                                <div class="col-md-12 text-center">
                                </div>
                            </div><!-- /header-text -->
                        </div>
                    </div>
                    <!-- Controls -->
                    <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                    </a>
                    <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </a>
                </div><!-- /carousel -->
            </div>
        </div>
        <div class="row">
            <div class="banner">
                <div class="col-sm-4">
                    <img src="../Content/images/gitar.jpg" />
                </div>
                <div class="col-sm-4">
                    <img src="../Content/images/sub-banner2.png" />
                </div>
                <div class="col-sm-4">
                    <img src="../Content/images/sub-banner3.png" />
                </div>
            </div>
        </div>
        <div class="row">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#featured">FEATURED PRODUCTS</a></li>
                <li><a href="#new">NEWS</a></li>
            </ul>
            <div class="tab-content">
                <div id="featured" class="tab-pane fade in active">
                    <div class="products">
                        <div class="col-sm-7 five-three">
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="product">
                                        <div class="image">
                                            <a href="/blog/product"><img src="../Content/images/clothing_sp3_2.jpg" /></a>
                                            <ul class="buttons">
                                                <li><a class="btn btn-2 cart" href="#"><span class="glyphicon glyphicon-shopping-cart"></span></a></li>
                                                <li><a class="btn btn-2 wishlist" href="#"><span class="glyphicon glyphicon-heart"></span></a></li>
                                                <li><a class="btn btn-2 compare" href="#"><span class="glyphicon glyphicon-transfer"></span></a></li>
                                            </ul>
                                        </div>
                                        <div class="caption">
                                            <div class="name"><h3><a href="/blog/product">Tatlı Playsuit</a></h3></div>
                                            <div class="price">$122<span>$98</span></div>
                                            <div class="rating"><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star-empty"></span></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="product">
                                        <div class="image">
                                            <a href="/blog/product"><img src="../Content/images/clothing_sp5_1.jpg" /></a>
                                            <ul class="buttons">
                                                <li><a class="btn btn-2 cart" href="#"><span class="glyphicon glyphicon-shopping-cart"></span></a></li>
                                                <li><a class="btn btn-2 wishlist" href="#"><span class="glyphicon glyphicon-heart"></span></a></li>
                                                <li><a class="btn btn-2 compare" href="#"><span class="glyphicon glyphicon-transfer"></span></a></li>
                                            </ul>
                                        </div>
                                        <div class="caption">
                                            <div class="name"><h3><a href="/blog/product">Pretty Playsuit</a></h3></div>
                                            <div class="price">$122<span>$98</span></div>
                                            <div class="rating"><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star-empty"></span><span class="glyphicon glyphicon-star-empty"></span></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="product">
                                        <div class="image">
                                            <a href="/blog/product"><img src="../Content/images/clothing_sp6_1.jpg" /></a>
                                            <ul class="buttons">
                                                <li><a class="btn btn-2 cart" href="#"><span class="glyphicon glyphicon-shopping-cart"></span></a></li>
                                                <li><a class="btn btn-2 wishlist" href="#"><span class="glyphicon glyphicon-heart"></span></a></li>
                                                <li><a class="btn btn-2 compare" href="#"><span class="glyphicon glyphicon-transfer"></span></a></li>
                                            </ul>
                                        </div>
                                        <div class="caption">
                                            <div class="name"><h3><a href="/blog/product">Pretty Playsuit</a></h3></div>
                                            <div class="price">$122<span>$98</span></div>
                                            <div class="rating"><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star-empty"></span><span class="glyphicon glyphicon-star-empty"></span><span class="glyphicon glyphicon-star-empty"></span></div>
                                        </div>
                                    </div>
                                </div><!-- end inner row -->
                            </div>
                        </div>
                        <div class="col-sm-5 five-two">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="product">
                                        <div class="image">
                                            <a href="/blog/product"><img src="../Content/images/clothing_sp12_1.jpg" /></a>
                                            <ul class="buttons">
                                                <li><a class="btn btn-2 cart" href="#"><span class="glyphicon glyphicon-shopping-cart"></span></a></li>
                                                <li><a class="btn btn-2 wishlist" href="#"><span class="glyphicon glyphicon-heart"></span></a></li>
                                                <li><a class="btn btn-2 compare" href="#"><span class="glyphicon glyphicon-transfer"></span></a></li>
                                            </ul>
                                        </div>
                                        <div class="caption">
                                            <div class="name"><h3><a href="/blog/product">Pretty Playsuit</a></h3></div>
                                            <div class="price">$122<span>$98</span></div>
                                            <div class="rating"><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="product">
                                        <div class="image">
                                            <a href="/blog/product"><img src="../Content/images/clothing_sp19_1.jpg" /></a>
                                            <div class="hot">
                                                <span>HOT</span>
                                            </div>
                                            <ul class="buttons">
                                                <li><a class="btn btn-2 cart" href="#"><span class="glyphicon glyphicon-shopping-cart"></span></a></li>
                                                <li><a class="btn btn-2 wishlist" href="#"><span class="glyphicon glyphicon-heart"></span></a></li>
                                                <li><a class="btn btn-2 compare" href="#"><span class="glyphicon glyphicon-transfer"></span></a></li>
                                            </ul>
                                        </div>
                                        <div class="caption">
                                            <div class="name"><h3><a href="/blog/product">Pretty Playsuit</a></h3></div>
                                            <div class="price">$122<span>$98</span></div>
                                            <div class="rating"><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span></div>
                                        </div>

                                    </div>
                                </div>
                            </div><!-- end inner row -->
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
                <div id="new" class="tab-pane fade">
                    <div class="products">
                        <div class="col-sm-7 five-three">
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="product">
                                        <div class="image">
                                            <a href="/blog/product"><img src="../Content/images/clothing_sp6_1.jpg" /></a>
                                            <ul class="buttons">
                                                <li><a class="btn btn-2 cart" href="#"><span class="glyphicon glyphicon-shopping-cart"></span></a></li>
                                                <li><a class="btn btn-2 wishlist" href="#"><span class="glyphicon glyphicon-heart"></span></a></li>
                                                <li><a class="btn btn-2 compare" href="#"><span class="glyphicon glyphicon-transfer"></span></a></li>
                                            </ul>
                                        </div>
                                        <div class="caption">
                                            <div class="name"><h3><a href="/blog/product">Pretty Playsuit</a></h3></div>
                                            <div class="price">$122<span>$98</span></div>
                                            <div class="rating"><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star-empty"></span><span class="glyphicon glyphicon-star-empty"></span><span class="glyphicon glyphicon-star-empty"></span></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="product">
                                        <div class="image">
                                            <a href="/blog/product"><img src="../Content/images/clothing_sp5_1.jpg" /></a>
                                            <ul class="buttons">
                                                <li><a class="btn btn-2 cart" href="#"><span class="glyphicon glyphicon-shopping-cart"></span></a></li>
                                                <li><a class="btn btn-2 wishlist" href="#"><span class="glyphicon glyphicon-heart"></span></a></li>
                                                <li><a class="btn btn-2 compare" href="#"><span class="glyphicon glyphicon-transfer"></span></a></li>
                                            </ul>
                                        </div>
                                        <div class="caption">
                                            <div class="name"><h3><a href="/blog/product">Pretty Playsuit</a></h3></div>
                                            <div class="price">$122<span>$98</span></div>
                                            <div class="rating"><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star-empty"></span><span class="glyphicon glyphicon-star-empty"></span></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="product">
                                        <div class="image">
                                            <a href="/blog/product"><img src="../Content/images/clothing_sp3_2.jpg" /></a>
                                            <ul class="buttons">
                                                <li><a class="btn btn-2 cart" href="#"><span class="glyphicon glyphicon-shopping-cart"></span></a></li>
                                                <li><a class="btn btn-2 wishlist" href="#"><span class="glyphicon glyphicon-heart"></span></a></li>
                                                <li><a class="btn btn-2 compare" href="#"><span class="glyphicon glyphicon-transfer"></span></a></li>
                                            </ul>
                                        </div>
                                        <div class="caption">
                                            <div class="name"><h3><a href="/blog/product">Pretty Playsuit</a></h3></div>
                                            <div class="price">$122<span>$98</span></div>
                                            <div class="rating"><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star-empty"></span></div>
                                        </div>
                                    </div>
                                </div><!-- end inner row -->
                            </div>
                        </div>
                        <div class="col-sm-5 five-two">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="product">
                                        <div class="image">
                                            <a href="/blog/product"><img src="../Content/images/clothing_sp19_1.jpg" /></a>
                                            <div class="hot">
                                                <span>HOT</span>
                                            </div>
                                            <ul class="buttons">
                                                <li><a class="btn btn-2 cart" href="#"><span class="glyphicon glyphicon-shopping-cart"></span></a></li>
                                                <li><a class="btn btn-2 wishlist" href="#"><span class="glyphicon glyphicon-heart"></span></a></li>
                                                <li><a class="btn btn-2 compare" href="#"><span class="glyphicon glyphicon-transfer"></span></a></li>
                                            </ul>
                                        </div>
                                        <div class="caption">
                                            <div class="name"><h3><a href="/blog/product">Pretty Playsuit</a></h3></div>
                                            <div class="price">$122<span>$98</span></div>
                                            <div class="rating"><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="product">
                                        <div class="image">
                                            <a href="/blog/product"><img src="../Content/images/clothing_sp12_1.jpg" /></a>
                                            <ul class="buttons">
                                                <li><a class="btn btn-2 cart" href="#"><span class="glyphicon glyphicon-shopping-cart"></span></a></li>
                                                <li><a class="btn btn-2 wishlist" href="#"><span class="glyphicon glyphicon-heart"></span></a></li>
                                                <li><a class="btn btn-2 compare" href="#"><span class="glyphicon glyphicon-transfer"></span></a></li>
                                            </ul>
                                        </div>

                                        <div class="caption">
                                            <div class="name"><h3><a href="/blog/product">Pretty Playsuit</a></h3></div>
                                            <div class="price">$122<span>$98</span></div>
                                            <div class="rating"><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span></div>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- end inner row -->
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="banner">
                <div class="col-sm-6">
                    <img src="../Content/images/sub-banner4.jpg" />
                </div>
                <div class="col-sm-6">
                    <img src="../Content/images/sub-banner5.jpg" />
                </div>
            </div>
        </div>
        <div class="row">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#best">BEST SALES</a></li>
                <li><a href="#special">SPECIAL</a></li>
            </ul>
            <div class="tab-content">
                <div id="best" class="tab-pane fade in active">
                    <div class="products">
                        <div class="col-sm-7 five-three">
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="product">
                                        <div class="image">
                                            <a href="/blog/product"><img src="../Content/images/clothing_sp3_2.jpg" /></a>
                                            <ul class="buttons">
                                                <li><a class="btn btn-2 cart" href="#"><span class="glyphicon glyphicon-shopping-cart"></span></a></li>
                                                <li><a class="btn btn-2 wishlist" href="#"><span class="glyphicon glyphicon-heart"></span></a></li>
                                                <li><a class="btn btn-2 compare" href="#"><span class="glyphicon glyphicon-transfer"></span></a></li>
                                            </ul>
                                        </div>
                                        <div class="caption">
                                            <div class="name"><h3><a href="/blog/product">Pretty Playsuit</a></h3></div>
                                            <div class="price">$122<span>$98</span></div>
                                            <div class="rating"><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star-empty"></span></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="product">
                                        <div class="image">
                                            <a href="/blog/product"><img src="../Content/images/clothing_sp5_1.jpg" /></a>
                                            <ul class="buttons">
                                                <li><a class="btn btn-2 cart" href="#"><span class="glyphicon glyphicon-shopping-cart"></span></a></li>
                                                <li><a class="btn btn-2 wishlist" href="#"><span class="glyphicon glyphicon-heart"></span></a></li>
                                                <li><a class="btn btn-2 compare" href="#"><span class="glyphicon glyphicon-transfer"></span></a></li>
                                            </ul>
                                        </div>
                                        <div class="caption">
                                            <div class="name"><h3><a href="/blog/product">Pretty Playsuit</a></h3></div>
                                            <div class="price">$122<span>$98</span></div>
                                            <div class="rating"><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star-empty"></span><span class="glyphicon glyphicon-star-empty"></span></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="product">
                                        <div class="image">
                                            <a href="/blog/product"><img src="../Content/images/clothing_sp6_1.jpg" /></a>
                                            <ul class="buttons">
                                                <li><a class="btn btn-2 cart" href="#"><span class="glyphicon glyphicon-shopping-cart"></span></a></li>
                                                <li><a class="btn btn-2 wishlist" href="#"><span class="glyphicon glyphicon-heart"></span></a></li>
                                                <li><a class="btn btn-2 compare" href="#"><span class="glyphicon glyphicon-transfer"></span></a></li>
                                            </ul>
                                        </div>
                                        <div class="caption">
                                            <div class="name"><h3><a href="/blog/product">Pretty Playsuit</a></h3></div>
                                            <div class="price">$122<span>$98</span></div>
                                            <div class="rating"><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star-empty"></span><span class="glyphicon glyphicon-star-empty"></span><span class="glyphicon glyphicon-star-empty"></span></div>
                                        </div>
                                    </div>
                                </div><!-- end inner row -->
                            </div>
                        </div>
                        <div class="col-sm-5 five-two">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="product">
                                        <div class="image">
                                            <a href="/blog/product"><img src="../Content/images/clothing_sp12_1.jpg" /></a>
                                            <ul class="buttons">
                                                <li><a class="btn btn-2 cart" href="#"><span class="glyphicon glyphicon-shopping-cart"></span></a></li>
                                                <li><a class="btn btn-2 wishlist" href="#"><span class="glyphicon glyphicon-heart"></span></a></li>
                                                <li><a class="btn btn-2 compare" href="#"><span class="glyphicon glyphicon-transfer"></span></a></li>
                                            </ul>
                                        </div>
                                        <div class="caption">
                                            <div class="name"><h3><a href="/blog/product">Pretty Playsuit</a></h3></div>
                                            <div class="price">$122<span>$98</span></div>
                                            <div class="rating"><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="product">
                                        <div class="image">
                                            <a href="/blog/product"><img src="../Content/images/clothing_sp19_1.jpg" /></a>
                                            <div class="hot">
                                                <span>HOT</span>
                                            </div>
                                            <ul class="buttons">
                                                <li><a class="btn btn-2 cart" href="#"><span class="glyphicon glyphicon-shopping-cart"></span></a></li>
                                                <li><a class="btn btn-2 wishlist" href="#"><span class="glyphicon glyphicon-heart"></span></a></li>
                                                <li><a class="btn btn-2 compare" href="#"><span class="glyphicon glyphicon-transfer"></span></a></li>
                                            </ul>
                                        </div>
                                        <div class="caption">
                                            <div class="name"><h3><a href="/blog/product">Pretty Playsuit</a></h3></div>
                                            <div class="price">$122<span>$98</span></div>
                                            <div class="rating"><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span></div>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- end inner row -->
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
                <div id="special" class="tab-pane fade">
                    <div class="products">
                        <div class="col-sm-7 five-three">
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="product">
                                        <div class="image">
                                            <a href="/blog/product"><img src="../Content/images/clothing_sp19_1.jpg" /></a>
                                            <div class="hot">
                                                <span>HOT</span>
                                            </div>
                                            <ul class="buttons">
                                                <li><a class="btn btn-2 cart" href="#"><span class="glyphicon glyphicon-shopping-cart"></span></a></li>
                                                <li><a class="btn btn-2 wishlist" href="#"><span class="glyphicon glyphicon-heart"></span></a></li>
                                                <li><a class="btn btn-2 compare" href="#"><span class="glyphicon glyphicon-transfer"></span></a></li>
                                            </ul>
                                        </div>
                                        <div class="caption">
                                            <div class="name"><h3><a href="/blog/product">Pretty Playsuit</a></h3></div>
                                            <div class="price">$122<span>$98</span></div>
                                            <div class="rating"><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="product">
                                        <div class="image">
                                            <a href="/blog/product"><img src="../Content/images/clothing_sp5_1.jpg" /></a>
                                            <ul class="buttons">
                                                <li><a class="btn btn-2 cart" href="#"><span class="glyphicon glyphicon-shopping-cart"></span></a></li>
                                                <li><a class="btn btn-2 wishlist" href="#"><span class="glyphicon glyphicon-heart"></span></a></li>
                                                <li><a class="btn btn-2 compare" href="#"><span class="glyphicon glyphicon-transfer"></span></a></li>
                                            </ul>
                                        </div>
                                        <div class="caption">
                                            <div class="name"><h3><a href="/blog/product">Pretty Playsuit</a></h3></div>
                                            <div class="price">$122<span>$98</span></div>
                                            <div class="rating"><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star-empty"></span><span class="glyphicon glyphicon-star-empty"></span></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="product">
                                        <div class="image">
                                            <a href="/blog/product"><img src="../Content/images/clothing_sp12_1.jpg" /></a>
                                            <ul class="buttons">
                                                <li><a class="btn btn-2 cart" href="#"><span class="glyphicon glyphicon-shopping-cart"></span></a></li>
                                                <li><a class="btn btn-2 wishlist" href="#"><span class="glyphicon glyphicon-heart"></span></a></li>
                                                <li><a class="btn btn-2 compare" href="#"><span class="glyphicon glyphicon-transfer"></span></a></li>
                                            </ul>
                                        </div>
                                        <div class="caption">
                                            <div class="name"><h3><a href="/blog/product">Pretty Playsuit</a></h3></div>
                                            <div class="price">$122<span>$98</span></div>
                                            <div class="rating"><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span></div>
                                        </div>
                                    </div>
                                </div><!-- end inner row -->
                            </div>
                        </div>
                        <div class="col-sm-5 five-two">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="product">
                                        <div class="image">
                                            <a href="/blog/product"><img src="../Content/images/clothing_sp6_1.jpg" /></a>
                                            <ul class="buttons">
                                                <li><a class="btn btn-2 cart" href="#"><span class="glyphicon glyphicon-shopping-cart"></span></a></li>
                                                <li><a class="btn btn-2 wishlist" href="#"><span class="glyphicon glyphicon-heart"></span></a></li>
                                                <li><a class="btn btn-2 compare" href="#"><span class="glyphicon glyphicon-transfer"></span></a></li>
                                            </ul>
                                        </div>
                                        <div class="caption">
                                            <div class="name"><h3><a href="/blog/product">Pretty Playsuit</a></h3></div>
                                            <div class="price">$122<span>$98</span></div>
                                            <div class="rating"><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star-empty"></span><span class="glyphicon glyphicon-star-empty"></span><span class="glyphicon glyphicon-star-empty"></span></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">

                                    <div class="product">
                                        <div class="image">
                                            <a href="/blog/product"><img src="../Content/images/clothing_sp3_2.jpg" /></a>
                                            <ul class="buttons">
                                                <li><a class="btn btn-2 cart" href="#"><span class="glyphicon glyphicon-shopping-cart"></span></a></li>
                                                <li><a class="btn btn-2 wishlist" href="#"><span class="glyphicon glyphicon-heart"></span></a></li>
                                                <li><a class="btn btn-2 compare" href="#"><span class="glyphicon glyphicon-transfer"></span></a></li>
                                            </ul>
                                        </div>
                                        <div class="caption">
                                            <div class="name"><h3><a href="/blog/product">Pretty Playsuit</a></h3></div>
                                            <div class="price">$122<span>$98</span></div>
                                            <div class="rating"><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star-empty"></span></div>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- end inner row -->
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


