﻿<!DOCTYPE html>
@{
    ViewBag.Title = "Home Page";
}

<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Free Bootstrap Themes by 365Bootstrap dot com - Free Responsive Html5 Templates">
    <meta name="author" content="http://www.365bootstrap.com">

    <title>Enstrümanın Adresi | Free Bootstrap Themes by 365Bootstrap.com</title>

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="content/bootstrap.min.css" type="text/css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="content/style.css">


    <!-- Custom Fonts -->
    <link rel="stylesheet" href="fonts/font-awesome/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="fonts/font-slider.css" type="text/css">

    <!-- jQuery and Modernizr-->
    <script src="js/jquery-2.1.1.js"></script>

    <!-- Core JavaScript Files -->
    <script src="js/bootstrap.min.js"></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="js/html5shiv.js"></script>
        <script src="js/respond.min.js"></script>
    <![endif]-->

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <!--Top-->
    <nav id="top">
        <div class="container">
            <div class="row">
                <div class="col-xs-6">
                </div>
                <div class="col-xs-6">
                    <ul class="top-link">
                        <li>@Html.ActionLink("My Account", "Account", "Blog")</li>
                        <li>@Html.ActionLink("iletişim", "Contact", "Home")</li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <!--Header-->
    <header>
        <div class="container">
            <div class="row">
                <div class="col-md-6"> 
                    <div id="logo"><img src="../../Content/images/yenilogo.png" /></div>
                </div>
                <div class="col-md-6 text-right">
                    <div class="phone"><span class="glyphicon glyphicon-earphone"></span>0123-456-789</div>
                    <div class="mail"><span class="glyphicon glyphicon-envelope"></span>infor@yoursite.com</div>
                    <form class="form-search">
                        <input type="text" class="input-medium search-query">
                        <button type="submit" class="btn"><span class="glyphicon glyphicon-search"></span></button>
                    </form>
                </div>
                <div id="cart"><a class="btn btn-cart" href="/Blog/cart"><span class="glyphicon glyphicon-shopping-cart"></span>CART<strong>0</strong></a></div>
            </div>
        </div>
    </header>


    <!--Navigation-->
    <nav id="menu" class="navbar">
        <div class="container">
            <div class="navbar-header">
                <span id="heading" class="visible-xs">Categories</span>
                <button type="button" class="btn btn-navbar navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse"><i class="fa fa-bars"></i></button>
            </div>
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Anasayfa", "Index", "Home")</li>
                    <li>@Html.ActionLink("Telli Enstrümanlar", "Category", "Blog")</li>
                    <li>@Html.ActionLink("Vurmalı Enstrümanlar", "Category", "Blog")</li>
                    <li>@Html.ActionLink("Üflemeli Enstrümanlar", "Category", "Blog")</li>
                    <li>@Html.ActionLink("Tuşlu Enstrümanlar", "Category", "Blog")</li>

                </ul>
            </div>
        </div>
    </nav>


    @RenderBody()
    <footer>
        <div class="brand">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-xs-6">
                        <a href="#"><img src="../Content/images/brand1-250x100.jpg" /></a>
                    </div>
                    <div class="col-lg-3 col-xs-6">
                        <a href="#"><img src="../Content/images/brand2-250x100.jpg" /></a>
                    </div>
                    <div class="col-lg-3 col-xs-6">
                        <a href="#"><img src="../Content/images/brand1-250x100.jpg" /></a>
                    </div>
                    <div class="col-lg-3 col-xs-6">
                        <a href="#"><img src="../Content/images/brand4-250x100.jpg" /></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="top-footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 text-right">
                        <h4>Subcribe Email</h4>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                    </div>
                    <div class="col-md-6">
                        <form name="subcribe-email" action="subcribe.php">
                            <div class="subcribe-form form-group">
                                <input class="form-inline" type="text" name="email" value="1"><button href="#" class="btn btn-4" type="submit">Subcribe</button>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>
        <div class="container">
            <div class="wrap-footer">
                <div class="row">
                    <div class="col-md-3 col-footer footer-1">
                        <img src="/home/../Content/images/logofooter.png" />
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                    </div>
                    <div class="col-md-3 col-footer footer-2">
                        <div class="heading"><h4>Customer Services</h4></div>
                        <ul>
                            <li><a href="#">About Us</a></li>
                            <li><a href="#">Delivery Information</a></li>
                            <li><a href="#">Privacy Policy</a></li>
                            <li><a href="#">Terms & Conditions</a></li>
                            <li><a href="#">Contact Us</a></li>

                        </ul>
                    </div>
                    <div class="col-md-3 col-footer footer-3">
                        <div class="heading"><h4>My Account</h4></div>
                        <ul>
                            <li><a href="#">My Account</a></li>
                            <li><a href="#">Brands</a></li>
                            <li><a href="#">Gift Vouchers</a></li>
                            <li><a href="#">Specials</a></li>
                            <li><a href="#">Site Map</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3 col-footer footer-4">
                        <div class="heading"><h4>Contact Us</h4></div>
                        <ul>
                            <li><span class="glyphicon glyphicon-Home"></span>California, United States 3000009</li>
                            <li><span class="glyphicon glyphicon-earphone"></span>+91 8866888111</li>
                            <li><span class="glyphicon glyphicon-envelope"></span>infor@yoursite.com</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        Your Store © 20xx - <a href="http://www.365bootstrap.com" rel="nofollow" target="_blank">Ecommerce Themes</a> Designed by <a href="http://www.365bootstrap.com" rel="nofollow" target="_blank">365BOOTSTRAP</a>
                    </div>
                    <div class="col-md-6">
                        <div class="pull-right">
                            <ul>
                                <li><img src="../Content/images/visa-curved-32px.png" /></li>
                                <li><img src="../Content/images/paypal-curved-32px.png" /></li>
                                <li><img src="../Content/images/discover-curved-32px.png" /></li>
                                <li><img src="../Content/images/maestro-curved-32px.png" /></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- JS -->
    <script>
        $(document).ready(function () {
            $(".nav-tabs a").click(function () {
                $(this).tab('show');
            });
            $('.nav-tabs a').on('shown.bs.tab', function (event) {
                var x = $(event.target).text();         // active tab
                var y = $(event.relatedTarget).text();  // previous tab
                $(".act span").text(x);
                $(".prev span").text(y);
            });
        });
    </script>

   


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
